form{
    width: 500px;
    height: 690px;
    margin: 0 auto;
    position: relative;
    top: 10vh;
    padding: 20px;
    margin-bottom: 400px;
}

gear-text-box {
    width: 100%;
}

gear-button{
    float: right;
    width: 100%;
}

a{
    float: right;
}

h1{
    text-align: center;
}

.container-code{
    width: 255px;
}

.btn-code{
    width: 200px;
    float: right;
    position: relative;
    top: -63px;
}

.container-actions{
    position: relative;
    top: -40px;
}